body{
    padding: 0;
    margin: 0;
}

.awesome-marker i {
    font-size: 18px;
    margin-top: 8px;
  }

/*#opciones{
    height: 100%;
    width: 21.85%;
    top: 0;
    left: 1230px;
    position: absolute;
    background: bisque;
}
.icon {
    max-width: 70%;
    max-height: 70%;
    margin: 4px;
      } */